# Pandas Tutorial(1)
https://github.com/adeshpande3/Pandas-Tutorial/blob/master/Pandas%20Tutorial.ipynb 의 자료를 기반으로 작성함.

- 관계형 혹은 테이블 형으로 데이터를 만들고 조작하기 위한 파이썬 라이브러리
- Numpy 라이브러리 기반으로 구축
- 오픈소스(http://pandas.pydata.org)

Pandas의 장점 
- CSV, 액셀, SQL 등 다양한 소스에서 데이터를 가져오고 해당 형식으로 데이터를 내보낼 수 있는 입출력 기능
- 데이터 삽입, 삭제, 병합, 결합, 슬라이싱 등 데이터를 필요한 대로 조작 가능 
- 누락 데이터 처리 용이
- 통계 분석 및 머신러닝 분석이 가능하도록 연구모델 설정 가능
- Scipy 등 다양한 데이터 분석 패키지와 쉽게 연동되어 사용 가능
- 빠른 속도로 데이터 처리 가능

In [2]:
import pandas as pd

## 시리즈(Series)와 데이터프레임(data frame)

Series: 인덱스가 있는 1차원 배열

In [5]:
s = pd.Series([1,25,26,30,40]) #자동 index 부여
print(s)
print(s[1]) #indexing

0     1
1    25
2    26
3    30
4    40
dtype: int64
25

In [7]:
#dictionary를 이용해 만들기 
dic = {'sohee':25, 'dream':26,'foreign':31}
s = pd.Series(dic)
print(s)
print(s[0]) #indexing

sohee      25
dream      26
foreign    31
dtype: int64
25

Series의 두 속성 : index,values

In [8]:
print(s.values)
print(s.index)

[25 26 31]
Index(['sohee', 'dream', 'foreign'], dtype='object')

index를 부여하는 다른 방법

In [13]:
s = pd.Series([1,25,26,30],index=['I','SOHEE','DREAM','WISH'])
print(s)
print(s['SOHEE'])
print(s[:'DREAM'])

I         1
SOHEE    25
DREAM    26
WISH     30
dtype: int64
25
I         1
SOHEE    25
DREAM    26
dtype: int64

데이터 프레임 만들기 : 2차원 표와 같은 형태, 행(row)과 열(column)로 이루어져 있고, 각 열에는 name이 있고 행에는 index가 있다.

In [15]:
score={'학번':[201810413,201810412,201810411],
       '이름': ['김소희','한원희','오민하'],
        'Quiz':[90,100,100],
        '중간고사':[80,90,100]}
            
score_df=pd.DataFrame(score)
score_df

          학번   이름  Quiz  중간고사
0  201810413  김소희    90    80
1  201810412  한원희   100    90
2  201810411  오민하   100   100

하나의 열은 Series이며, 데이터 프레임은 index를 공유하는 열 혹은 Series의 집합(인덱스가 있는 1차원 배열의 집합)으로 생각할 수 있다.

In [16]:
print(type(score_df['학번']))
score_df['학번']

<class 'pandas.core.series.Series'>

0    201810413
1    201810412
2    201810411
Name: 학번, dtype: int64